footer#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #343a40;
	margin-right: 0;
	margin-left: 0;
	color: rgba(255,255,255,.75);
	padding-top: 0;
	border-top: 0;
	left: 0;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}
